<div class="jumbotron text-center mt-2">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">大家可以踊跃的提出希望学习的课程</p>

  <p class="lead">
    <a class="btn btn-dark btn-lg" href="/ideas/add" role="button">添加新课程</a>
  </p>
</div>