<div class="row mt-2">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="../../public/img/icon.png" class="logo img-thumbnail" alt="">
            <h3 class="text-center">登陆</h3>
            <form action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="email" class="form-control"  name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">登陆</button>
            </form>
        </div>
    </div>
</div>